#product-overview {
  background: linear-gradient(to top, var(--trans-brown), transparent) 10%,
    url('./images/freedom.jpg') center top 15%/cover no-repeat border-box,
    var(--red);

/*  background-image: url('./images/freedom.jpg');
  background-size: cover;
  background-position: center top 25%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;*/
  /*background-image: linear-gradient(red, blue, rgba(0, 0, 0, 0.5));*/
  /*background-image: radial-gradient(circle 20px, red 20%, blue 30%, green);*/
  width: 100vw;
  height: 33vh;
  margin-top: var(--xxl-size);
  position: relative;
}

.section-title {
  color: var(--green);
  text-align: center;
}

#product-overview h1 {
  color: var(--white);
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background-color: var(--light-green);
  text-align: center;
  padding: var(--m-size);
  margin: var(--s-size);
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background-color: var(--medium-dark-green);
  color: var(--white);
  box-shadow: 2px 2px 2px 2px var(--trans-black);
}

.plan__annotation {
  background-color: var(--white);
  color: var(--medium-dark-green);
  box-shadow: 2px 2px 2px 2px var(--trans-black);
  padding: var(--m-size);
  border-radius: var(--m-size);
}

.plan__title {
  color: var(--dark-green);
}

.plan__price {
  color: var(--grey);
}

.plan--highlighted .plan__title {
  color: var(--white);
}

.plan--highlighted .plan__price {
  color: var(--dark-green);
}

.plan__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: var(--l-size) 0;
}


#key-features {
  background-color: var(--red);
  margin-top: 80px;
  padding: 60px;
}

#key-features .section-title {
  color: var(--white);
  margin: 32px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.key-feature {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: top;
}

.key-feature__image {
  background: var(--light-red);
  width: 128px;
  height: 128px;
  border: 2px solid var(--dark-grey);
  border-radius: 50%;
  margin: auto;
  padding: 20px;
}

.key-feature__description {
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}





















