:root {
  --black: #000;
  --white: #fff;
  --lighter-grey: #bbb;
  --light-grey: #333;
  --grey: #858585;
  --dark-grey: #424242;
  --light-green: #d5ffdc;
  --green: #2ddf5c;
  --medium-dark-green: #19b84c;
  --dark-green: #0e4f1f;
  --light-red: #ffcede;
  --orange: #ff5454;
  --red: #ff1b68;
  --trans-brown: rgba(80, 68, 18, 0.6);
  --trans-black: rgba(0, 0, 0, 0.5);
  --trans-green: rgba(213, 255, 220, 0.95);
  --trans-dark-green: rgba(234, 252, 237, 0.95);
  --trans-darker-green: rgba(14, 79, 31, 0.95);

  --s-size: 3px;
  --m-size: 5px;
  --l-size: 8px;
  --xl-size: 16px;
  --xxl-size: 32px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.button {
  background-color: var(--dark-green);
  color: var(--white);
  font: inherit;
  border: 1.5px solid var(--dark-green);
  padding: var(--l-size);
  border-radius: var(--l-size);
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: var(--white);
  color: var(--dark-green);
}

.button:focus {
  outline: none;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--green);
  padding: var(--m-size) var(--l-size);
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  height: 22px;
  display: inline-block;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 80px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: var(--l-size);
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 var(--xl-size);
}

.main-nav__item a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
  padding: var(--s-size) 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: var(--white);
  border-bottom: var(--m-size) solid var(--white);
}

.main-nav__item--cta a {
  color: var(--white);
  background-color: var(--red);
  padding: var(--l-size) var(--xl-size);
  border-radius: var(--l-size);
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: var(--red);
  background-color: var(--white);
  border: none;
}

.main-footer {
  background-color: var(--black);
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 var(--xl-size);
}

.main-footer__link a {
  color: var(--white);
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: var(--light-grey);
}
