:root {
  --black: #000;
  --white: #fff;
  --lighter-grey: #bbb;
  --light-grey: #333;
  --grey: #858585;
  --dark-grey: #424242;
  --light-green: #d5ffdc;
  --green: #2ddf5c;
  --medium-dark-green: #19b84c;
  --dark-green: #0e4f1f;
  --light-red: #ffcede;
  --orange: #ff5454;
  --red: #ff1b68;
  --trans-brown: rgba(80, 68, 18, 0.6);
  --trans-black: rgba(0, 0, 0, 0.5);
  --trans-green: rgba(213, 255, 220, 0.95);
  --trans-dark-green: rgba(234, 252, 237, 0.95);
  --trans-darker-green: rgba(14, 79, 31, 0.95);

  --xs-size: 0.2rem;
  --s-size: 0.5rem;
  --m-size: 1rem;
  --l-size: 1.2rem;
  --xl-size: 2rem;
  --xxl-size: 2.5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--trans-black);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--green);
  padding: var(--s-size) var(--m-size);
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
  font-size: var(--l-size);
  height: var(--l-size);
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 122px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: var(--s-size);
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 var(--m-size);
}

.main-nav__item a,
.mobile-nav__item a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
  padding: var(--xs-size) 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: var(--white);
  border-bottom: 5px solid var(--white);
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: var(--white);
  background-color: var(--red);
  padding: var(--s-size) var(--m-size);
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active, {
  color: var(--red);
  background-color: var(--white);
  border: none;
}

.main-footer {
  background-color: var(--black);
  padding: var(--xl-size);
  margin-top: var(--xxl-size);
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 var(--l-size);
}

.main-footer__link a {
  color: var(--white);
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: var(--light-grey);
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.button {
  background-color: var(--dark-green);
  color: var(--white);
  font: inherit;
  border: 1.5px solid var(--dark-green);
  padding: var(--m-size);
  border-radius: var(--m-size);
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: var(--white);
  color: var(--dark-green);
}

.button:focus {
  outline: none;
}

.open {
  display: block !important;
}