main {
  padding-top: var(--xl-size);
}

.background {
  background: url('../images/plans-background.jpg') center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: var(--m-size) 0;
  border: 4px solid var(--dark-green);
  border-left: none;
  position: relative;
}

.package:hover,
.package:active {
  box-shadow: 2px, 2px, 2px, var(--semi-trans-black);
  border-color: var(--orange);
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: var(--xl-size);
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--l-size);
  font-size: var(--m-size);
  color: var(--white);
  background-color: var(--orange);
  padding: var(--s-size);
}

.package__subtitle {
  color: var(--grey);
}

.package__body {
  padding: var(--m-size);
  border: 1px solid var(--dark-green);
  font-size: var(--m-size);
  color: var(--dark-green);
  background-color: var(--white);
}

.clearfix {
  clear: both;
}

#plus {
  background-color: var(--trans-green);
}

#free {
  background-color: var(--trans-dark-green);
  float: right;
  border-right: none;
  border-left: 4px solid var(--dark-green);
  text-align: right;
}

#free:hover,
#free:active {
  border-color: var(--orange);
}

#premium {
  background-color: var(--trans-darker-green);
}

#premium .package__title {
  color: var(--white);
}

#premium .package__subtitle {
  color: var(--lighter-grey);
}

@media (min-width: 768px) {
  main {
    margin: 3rem auto;
    max-width: 1500px;
  }
}

@media (min-width: 1513px) {
  .package {
    border-left: 4px solid var(--dark-green);
  }

  #free {
    border-right: 4px solid var(--dark-green);
  }
}

